.activityLogo {
  fill: var(--color-brand--1-darken);
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.75rem;
}

.activityTitle {
  font-size: 2rem;
  color: var(--color-text-dark-1);
  font-weight: 600;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activityText {
  text-align: center;
  font-size: 1.5rem;
}
