.activities {
  margin: 5rem 0 5rem 0;
}

.sectionTitle {
  margin: 4rem auto;
  font-size: 3rem;
  text-align: center;
  color: var(--color-text-dark-1);
  margin-bottom: 6rem;
}

.activitiesItem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 8rem 8rem;
}

@media only screen and (max-width: 50em) {
  .activities {
    margin: 0;
  }
}
