.sectionTitle {
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  color: var(--color-text-dark-1);
}

.container {
  padding-top: 10rem;
}

@media only screen and (max-width: 50em) {
  .container {
    padding-top: 0;
  }
}
