.facility {
  display: grid;
  grid-template-columns: repeat(7, [col-start] 1fr [col-end]);
  grid-template-rows: 20vw;
  column-gap: 3rem;
}

.facilityImageContainer {
  grid-column: col-start 2 / col-end 3;
}

.facilityImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facilityDescription {
  grid-column: col-start 5 / col-end 6;
  align-self: center;
}

.facilityTitle {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-text-dark-1);
}

.facilityText {
  font-size: 1.5rem;
}

@media only screen and (max-width: 43.75em) {
  .facilityImageContainer {
    grid-column: col-start 2 / col-end 6;
  }
  .facilityDescription {
    grid-column: col-start 2 / col-end 6;
  }
  .facility {
    row-gap: 3rem;
    grid-template-rows: 35vw;
  }

  .facilityTitle {
    margin-bottom: 1rem;
  }
}
