.footerContainer {
  grid-column: center-start / center-end;
}

.footer {
  background-color: var(--color-brand--1);
  padding: 5rem 3rem 3rem 3rem;
  margin-top: 10rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-text-1);
  padding-bottom: 2rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.brand:link,
.brand:visited {
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-text-dark-1);
}

.navigation {
  margin-top: 2rem;
}

.icon {
  width: 4rem;
  height: 4rem;
  display: inline-block;
}

@media only screen and (max-width: 33.75em) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 1.5rem;
  }
  .brand {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}
