.header {
  /* background-image: url("../../public/back-header.png"); */
  background-image: linear-gradient(
      rgba(231, 236, 255, 0.85),
      rgba(231, 236, 255, 0.85)
    ),
    url("../img/cat.jpg");
  background-size: cover;
  margin-top: -4rem;
  background-position: center;
}

.headerContent {
  grid-column: center-start / center-end;
  display: grid;
  align-content: center;
  grid-template-rows: minmax(min-content, 8rem) minmax(min-content, 10rem) min-content;
}

.headerTitle {
  color: var(--color-text-dark-1);
  font-size: 4rem;
}

.headerText {
  font-size: 2rem;
  font-weight: 600;
}

.buttonHeader {
  display: grid;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 14rem) [col-end]
  );
  align-items: flex-start;
  justify-items: flex-start;
}

.firstButton {
  grid-column: col-start 1 / col-end 1;
}

.secondButton {
  grid-column: col-start 3 / col-end 4;
}

@media only screen and (max-width: 50em) {
  .header {
    margin-top: -10rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .header {
    margin-top: -5rem;
  }
  .firstButton {
    grid-column: col-start 1 / col-end 3;
  }

  .secondButton {
    grid-column: col-start 4 / col-end 6;
  }

  .headerContent {
    row-gap: 2rem;
  }
}
