.navigation {
  position: relative;
}

.navigation__item {
  position: fixed;
  background-color: var(--color-brand--1);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20vh;
  width: 100vw;
  height: 100vh;
  gap: 5rem;
  transition: all 0.35s;
}

.hidden {
  opacity: 0;
  z-index: -10;
  transform: translateX(100%);
}

.show {
  opacity: 100;
  z-index: 10;
  transform: translateX(0);
}

.mobile:link,
.mobile:visited {
  font-size: 3rem;
}

.button {
  font-size: 2.5rem;
}
