.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10rem;
  height: 100%;
}

.navbar__btn {
  margin-right: 10rem;
}

.hamburgerClose,
.hamburgerOpen {
  font-size: 3.5rem;
  color: var(--color-brand-4);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburgerClose {
  font-size: 5rem;
}

.mobileNavbar {
  display: none;
}

.hamburgerClose {
  position: absolute;
  top: 5vh;
  right: 10vw;
}

.mobileNavigation {
  position: absolute;
  z-index: 10;
}

.stickyNavbar {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  opacity: 0.85;
  transition: transform 0.5s, opacity 0.5s;
}

.stickyNavbar-hidden {
  transform: translateY(-5rem);
  opacity: 0;
}

.stickyNavbar-show {
  transform: translateY(0);
  opacity: 0.85;
}

@media only screen and (max-width: 50em) {
  .navbar {
    display: none;
  }
  .mobileNavbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6.25vw;
    height: 100%;
  }
}
