.containerPricing {
  grid-column: center-start / center-end;
}

.sectionTitle {
  margin: 0 auto;
  font-size: 3rem;
  text-align: center;
  color: var(--color-text-dark-1);
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.containerPriceCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  grid-row: 5rem;
  row-gap: 5rem;
}

.pricing {
  background-image: url("../img/Rectangle-2.png");
  background-repeat: no-repeat;
  background-size: 100% 115%;
  padding: 10rem 0 20rem 0;
  align-self: center;
}
