.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 2.5rem 3rem 2.5rem;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  width: 200px;
}
.cardTitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text-dark-1);
  text-align: center;
  margin-bottom: 1rem;
}

.price {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-text-dark-1);
}
