/*
main-color: #E7ECFF;
light-color: #F0F0F0 
text-color: #6F7CB2;
button-color: #37447E;
button-nav-text-color: #505F98
*/

/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  /* --color-brand--1: #c1ceff; */
  --color-brand--1: #e7ecff;
  --color-brand--1-darken: #a2b6ff;
  --color-brand-3: #37447e;
  --color-brand-4: #111b47;
  --color-brand-4-lighten: #363a49;
  --color-text-1: #505f98;
  --color-text-dark-1: #091133;
  --color-light-1: #fff;

  /* --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-1);
  font-family: "Manrope", sans-serif;
  color: var(--color-text-1);
  font-weight: 400;
  line-height: 1.6;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows:
    6rem calc(100vh - 10rem) min-content minmax(40vh, min-content)
    minmax(75vh, min-content);
  row-gap: 4rem;
}

.navbar {
  grid-column: full-start / full-end;
  background-color: var(--color-brand--1);
}

.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: subgrid;
}

.facilities {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-bottom: 10rem;
}

.activities {
  grid-column: col-start 2 / col-end 7;
}

.pricing {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: subgrid;
}

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: subgrid;
}

.navbar-cta:link,
.navbar-cta:visited {
  display: inline-block;
  background-color: none;
  color: var(--color-text-1);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.25s;
  border-bottom: 2px solid transparent;
}

.navbar-cta:hover {
  border-bottom: 2px solid var(--color-text-1);
  transform: translateY(-3px);
}

.btn {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--color-brand-4);
  color: #fff;
  padding: 1rem 4rem;
  transition: all 0.25s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-brand-4);
}

.btn-light {
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--color-brand--1);
  color: var(--color-brand-4);
  padding: 0.8rem 3.8rem;
  border: 0.2rem solid var(--color-brand-4);
  transition: all 0.25s;
  cursor: pointer;
}

.btn-light:hover {
  background-color: var(--color-brand-4);
  color: #fff;
}

.scroll-section {
  transition: opacity 0.6s, transform 0.6s;
}

.section-show {
  opacity: 100;
  transform: translateY(0);
}

.section-hidden {
  opacity: 0;
  transform: translateY(6rem);
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .facilities {
    gap: 12rem;
  }
}

@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows:
      6rem calc(100vh - 16rem) min-content minmax(40vh, min-content)
      minmax(75vh, min-content);
    row-gap: 10rem;
  }

  .facilities {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .container {
    grid-template-rows:
      6rem calc(100vh - 11rem) min-content minmax(40vh, min-content)
      minmax(75vh, min-content);
    row-gap: 5rem;
  }
  .section-show {
    opacity: 100;
    transform: translateY(0);
  }

  .section-hidden {
    opacity: 0;
    transform: translateY(4rem);
  }
}
